<nav class="profile-links" aria-label="Profile links">
  <a href="mailto:xuejunzhi@mail.shufe.edu.cn">
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="M4 6h16v12H4z"></path>
      <path d="m4 7 8 6 8-6"></path>
    </svg>
    <span>xuejunzhi@mail.shufe.edu.cn</span>
  </a>
  <a href="https://scholar.google.com/citations?user=diEHYA4AAAAJ&amp;hl=en">
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="M3 8 12 4l9 4-9 4z"></path>
      <path d="M7 10v5c0 1.7 2.2 3 5 3s5-1.3 5-3v-5"></path>
      <path d="M21 8v6"></path>
    </svg>
    <span>Google Scholar</span>
  </a>
  <a href="https://papers.ssrn.com/sol3/cf_dev/AbsByAuth.cfm?per_id=4395465">
    <span class="profile-icon profile-icon-text" aria-hidden="true">S</span>
    <span>SSRN</span>
  </a>
  <a href="https://github.com/xuestrange">
    <svg aria-hidden="true" viewBox="0 0 24 24">
      <path d="M9 19c-4.3 1.4-4.3-2.1-6-2.5"></path>
      <path d="M15 22v-3.5c0-1 .1-1.4-.5-2 2.8-.3 5.5-1.4 5.5-6a4.6 4.6 0 0 0-1.3-3.2 4.2 4.2 0 0 0-.1-3.2s-1-.3-3.4 1.3a11.5 11.5 0 0 0-6.2 0C6.6 3.8 5.6 4.1 5.6 4.1a4.2 4.2 0 0 0-.1 3.2A4.6 4.6 0 0 0 4.2 10.5c0 4.6 2.7 5.7 5.5 6-.6.6-.6 1.2-.5 2V22"></path>
    </svg>
    <span>GitHub</span>
  </a>
</nav>
